*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image:url("home.jpg");
  background-size: cover;
  
}



.container {
  width: 100%;
  max-width: 50%;
 
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 20%);
}
.container.correct {
  --hue: var(--hue-correct);
}
.container.wrong {
  --hue: var(--hue-wrong);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: navy;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
} 

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image:url("home.jpg");
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 100%;
  height: 0;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin:0 20px ;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color:rgba(240, 255, 255, 0.925);
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
#question {
  font-size: 70px;
  background-color: aliceblue;
}
.m{
  display: none;
}